* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
  }
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  .layar-dalam {
    width: 1000px;
    color: #c7a600;
    margin: auto;
  }
  .layar-penuh {
    width: 100%;
  }
  nav {
    z-index: 100;
    color: #d3b60d;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #d3b60d;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
  }
  nav.putih {
    background-color: #c7a600;
  }